/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/package-lock.json
/.idea/runConfigurations/prod.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2025_23_15_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2025_23_15_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_19_05_2025_23_15__Changes_.xml
/.idea/workspace.xml
