services:
  frontend:
    container_name: portfolio-frontend
    image: portfolio-frontend:latest
    # ports:
    #   - "3000:3000"
    networks:
      - xcaddy

networks:
  xcaddy:
    external: true
